$azul: #033ad3;
$amarillo: #ffbe00;
$rosado: #f5b5cd;
$naranja: #ff6c11;
$verde: #209477;
$fucsia: #e72276;

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: $azul;
}

main {
	margin-top: 88px;
}

.color-azul {
	color: $azul;
}

.color-blanco {
	color: white;
}

.color-naranja {
	color: $naranja;
}

.color-verde {
	color: $verde;
}

.fondo-azul {
	background-color: $azul;
}

.fondo-amarillo {
	background-color: $amarillo;
}

.fondo-rosado {
	background-color: $rosado;
}

.fondo-fucsia {
	background-color: $fucsia;
}

.fondo-blanco {
	background-color: white;
}

.fondo-figura-blanca {
	background-image: url('../../img/fondos/web-fondo-blanco-1.svg');
}

.fondo-figura-rosa {
	background-image: url('../../img/fondos/web-fondo-rosado-1.svg');
}

.fondo-figura-azul {
	background-image: url('../../img/fondos/web-fondos-azul.svg');
}

.fondo-figura-amarilla {
	background-image: url('../../img/fondos/web-fondos-amarillo2.svg');
}

.link {
	font-weight: bold;
	text-decoration: underline;
}

.fondo-figura-blanca {
	background-repeat: no-repeat;
	background-size: 2760px;
	background-position-x: calc(-1218px + (100vw - 768px)/2);
	@media (min-width: 1024px) { 
		background-size: 3680px;
	    background-position-x: calc(-1624px + (100vw - 1024px)/2);
	}
	@media (min-width: 1280px) { 
		background-size: 4600px;
	    background-position-x: calc(-2030px + (100vw - 1280px)/2);
	}
	@media (min-width: 1536px) { 
		background-size: 5520px;
	    background-position-x: calc(-2436px + (100vw - 1536px)/2);
	}
}

.fondo-figura-rosa {
	background-size: 2304px;
	background-position-x: calc(-438px + (100vw - 768px)/2);
	@media (min-width: 1024px) { 
		background-size: 3072px;
	    background-position-x: calc(-584px + (100vw - 1024px)/2);
	}
	@media (min-width: 1280px) { 
		background-size: 4100px;
	    background-position-x: calc(-1180px + (100vw - 1280px)/2);
	}
	@media (min-width: 1536px) { 
		background-size: 4920px;
	    background-position-x: calc(-1416px + (100vw - 1536px)/2);
	}
}

.fondo-figura-azul {
	background-size: 2304px;
	background-position-x: calc(-738px + (100vw - 768px)/2);
	@media (min-width: 1024px) { 
		background-size: 3072px;
	    background-position-x: calc(-984px + (100vw - 1024px)/2);
	}
	@media (min-width: 1280px) { 
		background-size: 3840px;
	    background-position-x: calc(-1230px + (100vw - 1280px)/2);
	}
	@media (min-width: 1536px) { 
		background-size: 4608px;
	    background-position-x: calc(-1476px + (100vw - 1536px)/2);
	}
}

.fondo-figura-amarilla {
	background-repeat: no-repeat;
	background-size: 2760px;
	background-position-x: calc(-792px + (100vw - 768px)/2);
	@media (min-width: 1024px) { 
		background-size: 3680px;
	    background-position-x: calc(-1057px + (100vw - 1024px)/2);
	}
	@media (min-width: 1280px) { 
		background-size: 4600px;
	    background-position-x: calc(-1240px + (100vw - 1280px)/2);
	}
	@media (min-width: 1536px) { 
		background-size: 5520px;
	    background-position-x: calc(-1585px + (100vw - 1536px)/2);
	}
}

.button {
	display: inline-block;
	padding: 1.5rem 2.5rem;
	border-radius: 3rem;
	background-color: $azul;
	color: white;
	text-transform: uppercase;
	&.small {
		padding: 1rem 2rem;
	}
	&.fondo-verde {
		background-color: $verde;
	}
}

a.anchor {
    display: block;
    position: relative;
    top: -108px;
    visibility: hidden;
}

.font-hbold {
	font-family: 'HalyardMicroBold';
}

.font-hlight {
	font-family: 'HalyardMicroLight';
}

@font-face {
	font-family: 'HalyardMicroBold';
	src: url('../../fonts/Halyard Micro Bold.otf');
}

@font-face {
	font-family: 'HalyardMicroLight';
	src: url('../../fonts/Halyard Micro Light.otf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat-Bold.ttf');
	font-weight: bold;
}