.header {
	height: 130px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	a {
		color: white;
		font-size: 15px;
		display: block;
		text-align: center;
	}
	@media (min-width: 1024px) { 
		height: 173px;
	}
}