.header {
	min-height: 88px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;
	@media (min-width: 1024px) { 
		height: 88px;
	}
	.container {
		height: 88px;
	}
	a {
		color: white;
		font-size: 15px;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.submenu {
		@media (min-width: 1024px) { 
			display: none;
			position: absolute;
			left: -1.5rem;
			top: 88px;
			min-width: calc(100% + 3rem);
			a {
				background-color: $azul;
				color: white;
				border: 1px solid white;
				border-radius: 30px;
				padding: 1rem 1.5rem;
				min-width: 100%;
				white-space: nowrap;
				text-align: left;
				margin-top: 10px;
			}
		}
	}
	li:hover .submenu {
		display: block;
	}
	.envivo {
		background-color: white;
		a {
			color: $azul;
			font-size: 15px;
			font-weight: 900;
			justify-content: center;
		}
	} 
	@media (min-width: 1024px) { 
		&.header-envivo {
			background: linear-gradient(90deg, white 48%, $azul 52%);
		}
		.envivo {
			a {
				position: relative;
				font-size: 17px;
				font-weight: 900;
				background-color: white;
				padding-right: 2rem;
				color: $azul;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: -20px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 88px 20px 0 0;
					border-color: #ffffff transparent transparent transparent;
				}
			}
		}
	}
}