.banner {
	width: 100%;
	height: 44vw;
}

.convocatorias-abiertas {
	width: 280px;
	height: 280px;
	background-image: url('../../img/figuras-azul-grande.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	@media (min-width: 1024px) { 
		width: 310px;
		height: 310px;
	}
}

.bullet {
	position: relative;
	padding-left: 4rem;
	@media (min-width: 1024px) { 
		padding-left: 6rem;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 2.5rem;
		height: 2.5rem;
		background-image: url('../../img/figuras-azul-pequena.svg');
		background-size: contain;
		background-repeat: no-repeat;
		@media (min-width: 1024px) { 
			width: 4rem;
			height: 4rem;
		}
	}
	&.flor-naranja::before {
		background-image: url('../../img/flor-naranja.svg');
	}
	&.flor-azul::before {
		background-image: url('../../img/flor-azul.svg');
	}
}

.circulo-redes {
	display: block;
	background-color: $azul;
	border-radius: 80px;
}