.banner {
	width: 100%;
	height: 44vw;
}

.convocatorias-abiertas {
	width: 100%;
	height: 70vw;
	background-image: url('../../img/figuras-azul-grande.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	@media (min-width: 1024px) { 
		width: 40%;
		height: auto;
	}
}

.bullet {
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: -6rem;
		top: 0;
		width: 4rem;
		height: 4rem;
		background-image: url('../../img/figuras-azul-pequena.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.circulo-redes {
	display: block;
	background-color: $azul;
	border-radius: 80px;
}