.swiper {
	.swiper-button-prev {
		left: 0;
		&::after {
			content: '';
			width: 20px;
			height: 35px;
			background-image: url('../../img/flecha-izq.svg');
		}
	}
	
	.swiper-button-next {
		right: 0;
		&::after {
			content: '';
			width: 20px;
			height: 35px;
			background-image: url('../../img/flecha-der.svg');
		}
	}

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 14px;
	}
	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 25px;
		width: 40%;
		left: 30%;
	}
	.swiper-pagination-bullet {
		width: 1rem;
		height: 1rem;
		background-color: white;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		width: 2rem;
		height: 2rem;
		position: relative;
		top: 0.5rem;
	}
}