.swiper, .swiper-container {
	.swiper-button-prev {
		left: -64px;
		&::after {
			content: '';
			width: 20px;
			height: 25px;
			background-image: url('../../img/flecha-izq2.svg');
		}
	}
	
	.swiper-button-next {
		right: -54px;
		&::after {
			content: '';
			width: 20px;
			height: 25px;
			background-image: url('../../img/flecha-der2.svg');
		}
	}

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 7px;
		@media (min-width: 1024px) {
			margin: 14px;
		}
	}
	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 0;
		width: 60%;
		left: 20%;
		@media (min-width: 1024px) {
			bottom: 25px;
			width: 40%;
			left: 30%;
		}
	}
	.swiper-pagination-bullet {
		width: 0.5rem;
		height: 0.5rem;
		background-color: white;
		opacity: 1;
		@media (min-width: 1024px) {
			width: 1rem;
			height: 1rem;
		}
	}
	.swiper-pagination-bullet-active {
		width: 1rem;
		height: 1rem;
		position: relative;
		top: 0.25rem;
		@media (min-width: 1024px) {
			width: 2rem;
			height: 2rem;
			top: 0.5rem;
		}
	}
}